* {
  font-family: Nunito, sans-serif;
}

.container {
  box-sizing: border-box;
  padding: 5px;
  margin: 10px;
  border: solid gray 1px;
}

.question {
  padding-top: 10px;
  font-weight: bold;
}

.hidden {
	display: none;
}

.results-message {
  text-align: center;
}